# Data Cleaning

This file cleans the raw data from separate databases, merging them together with a pivot indexing column in Table #9.

In [1]:
import numpy as np
import pandas as pd
from itertools import product

## PART 0: Load datasets

In [2]:
tbl_1 = pd.read_excel(
    io="database/1_manager_bio_info/1_manager_bio_info.xlsx",
    usecols=["Stkcd", "PersonID", "Reptdt", "Gender", "Age", "Degree", "Funback", "OverseaBack", "Academic"]
).drop([0,1]).reset_index(drop=True)

In [3]:
tbl_2 = pd.read_excel(
    io="database/2_manager_tenure/2_manager_tenure.xlsx",
    usecols=["Stkcd", "Reptdt", "PersonID", "Tenure"]
).drop([0,1]).reset_index(drop=True)

In [4]:
tbl_3 = pd.read_excel(
    io="database/3_firm_basic_info/3_firm_basic_info.xlsx",
    usecols=["Stkcd", "EstablishDate"]
).drop([0,1]).reset_index(drop=True)

In [5]:
tbl_4 = pd.read_excel(
    io="database/4_green_patent_declared/4_patent_declared.xlsx", 
    usecols=["股市代码，修正后", "年份", "合计"], 
    dtype={"股市代码，修正后": str, "年份": int, "合计": int}
).rename(columns={"股市代码，修正后": "Stkcd", "年份": "Year", "合计": "GI1"})

In [6]:
tbl_5 = pd.read_excel(
    io="database/5_gov_investment/5_gov_investment.xlsx",
    usecols=["Stkcd", "Accper", "Fn05601", "Fn05602"]
).drop([0,1]).reset_index(drop=True)
tbl_5 = tbl_5.loc[tbl_5["Fn05601"]=="合计"][["Stkcd", "Accper", "Fn05602"]]

In [7]:
tbl_6 = (
    pd.read_excel(io="database/6_profit/6_profit.xlsx")
    .drop(0)
    .reset_index(drop=True)
    .rename(columns={"B001101000": "Revenue", "B002000000": "NetProfit"})
)

In [8]:
tbl_7 = (
    pd.read_excel(
        io="database/7_balance_sheet/7_balance_sheet.xlsx",
        usecols=["Stkcd", "Accper", "A001000000"]
    )
    .drop([0])
    .reset_index(drop=True)
    .rename(columns={"Accper": "Year", "A001000000": "TotalAssets"})
)

In [9]:
tbl_8 = pd.read_excel(
    io="database/8_equity_nature/8_equity_nature.xlsx",
    usecols={"Symbol", "EndDate", "EquityNatureID"},
).drop([0,1]).reset_index(drop=True).rename(columns={"Symbol": "Stkcd"})

In [10]:
tbl_9 = pd.read_excel(
    io="database/9_stock_code_pivot/9_stock_code_pivot.xlsx",
    dtype={0: str, 1: str}
).rename(columns={"code": "Stkcd", "name": "Name"})

In [11]:
tbl_10 = (
    pd.read_excel(io="database/10_ROA_ROE/10_ROA_ROE.xlsx", skiprows=[0], dtype={"Stkcd": str})
    .rename(columns={"T40402": "ROA", "T40802": "ROE"})
)

In [12]:
tbl_11 = (
    pd.read_excel(io="database/11_RDSpendSum/11_RDSpendSum.xlsx")
    .drop([0,1])
    .rename(columns={"Symbol": "Stkcd"})
)

In [13]:
tbl_12 = (
    pd.read_excel(
        io="database/12_green_patent_obtained/12_green_patent_obtained.xlsx",
        usecols=["股市代码", "年份", "合计"],
        dtype={"股市代码": str}
    )
    .rename(columns={"股市代码": "Stkcd", "年份": "Year", "合计": "GI2"})
)

In [14]:
tbl_13 = (
    pd.read_excel(io="database/13_TQ/13_TQ.xlsx")
    .drop([0,1])
    .reset_index(drop=True)
    .rename(columns={"F100901A": "TQA", "F100902A": "TQB", "F100903A": "TQC", "F100904A": "TQD"})
)

In [15]:
tbl_14 = (
    pd.read_excel(io="database/14_CR/14_CR.xlsx", usecols=["Stkcd", "Reptdt", "Shrcr1"])
    .drop([0,1])
    .reset_index(drop=True)
    .rename(columns={"Shrcr1": "Cr"})
)

In [16]:
tbl_15 = (
    pd.read_excel(
        io="database/15_board/15_board.xlsx",
        usecols=["Stkcd", "Reptdt", "Y1101c"]
    )
    .drop([0,1]).reset_index(drop=True).rename(columns={"Y1101c": "Indep"})
)

## Part 1: Cleaning

In [17]:
tbl_1

,Stkcd,Reptdt,PersonID,Gender,Age,Degree,Funback,OverseaBack,Academic
0,000008,2012-12-31,3032514,男,49,2,"8,5",3,4
1,000012,2011-12-31,3047844,男,47,4,"5,6,7",3,4
2,000012,2012-12-31,30185858,女,47,NaN,"3,2,5,7",3,"1,2"
3,000012,2013-12-31,30137486,男,48,NaN,"5,6",3,4
4,000012,2014-12-31,3056458,男,52,NaN,8,3,4
...,...,...,...,...,...,...,...,...,...
99051,000825,2018-12-31,30408919,男,46,NaN,"5,8",3,4
99052,000825,2016-12-31,30408919,男,46,NaN,"5,8",3,4
99053,000825,2017-12-31,30408919,男,47,NaN,"5,8",3,4
99054,002074,2016-12-31,30568773,男,37,3,"1,5",3,NaN
99055,002074,2015-12-31,30568773,男,36,3,"1,5",3,4

In [47]:
tbl_1_clean = tbl_1.loc[(~tbl_1["Gender"].isnull()) & (tbl_1["Degree"]<="5")]
tbl_1_clean = tbl_1_clean.assign(Year=pd.to_datetime(tbl_1_clean["Reptdt"]).dt.year)  # Rescale to Year
tbl_1_clean["Gender"] = (tbl_1_clean["Gender"]=="女").astype(int)  # Female=1, Male=0
tbl_1_clean["Funback"] = tbl_1_clean["Funback"].apply(lambda x: ("1" in str(x).split(",")) or ("2" in str(x).split(",")))
tbl_1_clean["OverseaBack"] = tbl_1_clean["OverseaBack"] != "3"
tbl_1_clean["Academic"] = tbl_1_clean["Academic"] != "4"
tbl_1_clean["Degree"] = tbl_1_clean["Degree"].astype(int)

tbl_1_clean = tbl_1_clean[["Stkcd", "Year", "PersonID", "Gender", "Age", "Degree", "Funback", "OverseaBack", "Academic"]]

# Some managers are counted more than once in a year, aggregate those information so that
# each record is unique up to Stkcd-Year-ID
tbl_1_clean = (
    tbl_1_clean
    .astype({"Age": float, "Funback": int, "OverseaBack": int, "Academic": int})
    .groupby(["Stkcd", "Year", "PersonID"])
    .agg({"Gender": "mean", "Age": "mean", "Degree": "max", "Funback": "max", "OverseaBack": "max", "Academic": "max"})
    .reset_index()
)

In [22]:
tbl_2_clean = tbl_2.assign(Year=pd.to_datetime(tbl_2["Reptdt"]).dt.year)  # Rescale to Year
tbl_2_clean = tbl_2_clean[["Stkcd", "Year", "PersonID", "Tenure"]].astype({"Tenure": float})
tbl_2_clean.Tenure = tbl_2_clean.Tenure / 12
tbl_2_clean = tbl_2_clean.groupby(["Stkcd", "Year", "PersonID"]).agg({"Tenure": "mean"}).reset_index()

In [23]:
tbl_3_clean = tbl_3.copy(deep=True)

In [24]:
tbl_4_clean = tbl_4.copy(deep=True)

In [25]:
tbl_5_clean = tbl_5.assign(Year=pd.to_datetime(tbl_5["Accper"]).dt.year)
tbl_5_clean = tbl_5_clean.rename(columns={"Fn05602": "Gov1"}).drop(columns=["Accper"])
tbl_5_clean = tbl_5_clean.groupby(["Stkcd", "Year"]).sum().reset_index()  # There are two types of balance sheets
tbl_5_clean.Gov1 = tbl_5_clean.Gov1.apply(np.log)

In [26]:
prev_year_5 = tbl_5_clean.copy(deep=True)
def get_last_year_5(row):
    return prev_year_5.loc[
        (prev_year_5["Stkcd"]==row[0]) & (prev_year_5["Year"].astype(int)==int(row[1]) - 1)
    ]["Gov1"].reset_index(drop=True)

tbl_5_clean = tbl_5_clean.assign(Gov2=tbl_5_clean.apply(get_last_year_5, axis=1)[0])

In [27]:
tbl_6_clean = tbl_6.assign(Year=pd.to_datetime(tbl_6.Accper).dt.year)
tbl_6_clean = tbl_6_clean.astype({"Stkcd": str, "Year": int, "Revenue": float, "NetProfit": float})
prev_year_6 = tbl_6_clean.copy(deep=True)
def get_last_year_6(row):
    return prev_year_6.loc[
        (prev_year_6["Stkcd"]==row[0]) & (prev_year_6["Year"].astype(int)==int(row[5]) - 1)
    ]["Revenue"].reset_index(drop=True)

tbl_6_clean = tbl_6_clean.assign(RevenuePrevYear=tbl_6_clean.apply(get_last_year_6,axis=1)[0])
tbl_6_clean = tbl_6_clean[["Stkcd", "Year", "RevenuePrevYear", "Revenue", "NetProfit"]]
tbl_6_clean["Growth"] = (tbl_6_clean["Revenue"] - tbl_6_clean["RevenuePrevYear"]) / (tbl_6_clean["RevenuePrevYear"].fillna(0) + 0.01)
tbl_6_clean = tbl_6_clean[["Stkcd", "Year", "Revenue", "Growth", "NetProfit"]]
tbl_6_clean.Revenue = tbl_6_clean.Revenue.apply(np.log)
tbl_6_clean.NetProfit = tbl_6_clean.NetProfit.apply(np.log)
tbl_6_clean = tbl_6_clean.rename(columns={"Revenue": "LogRevenue", "NetProfit": "LogNetProfit"})

In [28]:
tbl_7_clean = tbl_7.copy(deep=True)
tbl_7_clean.TotalAssets = tbl_7_clean.TotalAssets.apply(np.float).apply(np.log)
tbl_7_clean.Year = pd.to_datetime(tbl_7_clean.Year).dt.year  # Rescale to Year
tbl_7_clean = tbl_7_clean.rename(columns={"TotalAssets": "Size"})

In [29]:
tbl_8_clean = tbl_8.assign(Year=pd.to_datetime(tbl_8["EndDate"]).dt.year)
tbl_8_clean = tbl_8_clean.assign(Soe=tbl_8_clean["EquityNatureID"]=="1")
tbl_8_clean = tbl_8_clean[["Stkcd", "Year", "Soe"]]

In [30]:
tbl_9_clean = tbl_9.copy(deep=True)

In [31]:
tbl_10_clean = tbl_10.assign(Year=pd.to_datetime(tbl_10["Accper"]).dt.year)
tbl_10_clean = tbl_10_clean[["Stkcd", "Year", "ROA", "ROE"]]

In [32]:
tbl_11_clean = tbl_11.assign(Year=pd.to_datetime(tbl_11["EndDate"]).dt.year)
tbl_11_clean = tbl_11_clean[["Stkcd", "Year", "RDSpendSum"]]

In [33]:
tbl_12_clean = tbl_12.copy(deep=True)

In [34]:
tbl_13_clean = tbl_13.loc[pd.to_datetime(tbl_13["Accper"]).dt.month == 12]
tbl_13_clean = tbl_13_clean.assign(Year=pd.to_datetime(tbl_13_clean["Accper"]).dt.year)
tbl_13_clean = tbl_13_clean[["Stkcd", "Year", "TQA", "TQB", "TQC", "TQD"]]

In [35]:
tbl_14_clean = tbl_14.loc[pd.to_datetime(tbl_14["Reptdt"]).dt.month == 12]
tbl_14_clean = tbl_14_clean.assign(Year=pd.to_datetime(tbl_14_clean["Reptdt"]).dt.year)
tbl_14_clean = tbl_14_clean[["Stkcd", "Year", "Cr"]]

In [36]:
tbl_15_clean = tbl_15.assign(Year=pd.to_datetime(tbl_15["Reptdt"]).dt.year)
tbl_15_clean = tbl_15_clean[["Stkcd", "Year", "Indep"]]

## Part 2: Merge

In [48]:
# Pivot Columns
df = tbl_9_clean

df = df.merge(tbl_3_clean, how="left", left_on="Stkcd", right_on="Stkcd")

year = pd.DataFrame(range(2011, 2019), columns={"Year"})
stkcd_year = pd.DataFrame(product(df["Stkcd"], year["Year"]))
df = df.merge(stkcd_year, how="outer", left_on="Stkcd", right_on=0).drop(columns={0}).rename(columns={1: "Year"})


# Dependent Variables
df = df.merge(tbl_4_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_12_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])


# Independent Variables
df = df.merge(tbl_5_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])


# Impact Variables
merge_12 = tbl_1_clean.merge(
    tbl_2_clean, 
    how="left", 
    left_on=["Stkcd", "Year", "PersonID"], 
    right_on=["Stkcd", "Year", "PersonID"]
)
merge_12 = (
    merge_12
    .groupby(["Stkcd", "Year"])
    .agg({"Gender": "mean", "Age": "mean", "Degree": "mean", "Tenure": "mean", "Funback": "mean", "OverseaBack": "mean", "Academic": "mean"})
    .reset_index()
)
merge_12 = merge_12.rename(columns={
    "Gender": "Gend",
    "Age": "Aage",
    "Degree": "Aedu",
    "Tenure": "Aterm",
    "Funback": "Atech",
    "OverseaBack": "Aoversea",
    "Academic": "Aacademic"
})
df = df.merge(merge_12, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])


# Controlled variables
df = df.merge(tbl_7_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_10_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_6_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_13_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_8_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df["Age"] = df["Year"] - pd.to_datetime(df["EstablishDate"]).dt.year

df = df.merge(tbl_14_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_15_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])

df = df.merge(tbl_11_clean, how="left", left_on=["Stkcd", "Year"], right_on=["Stkcd", "Year"])
df = df.assign(Rdsale=df.RDSpendSum / np.exp(df.LogRevenue))
df.RDSpendSum = df.RDSpendSum / np.exp(df.Size)
df = df.rename(columns={"RDSpendSum": "Input"})

#df = df.drop(columns=["LogRevenue", "LogNetProfit"])

## Part 3: Missingness

In [49]:
df = df.loc[~df.drop(columns=["Gov2", "Growth"]).isnull().any(axis=1)].reset_index(drop=True)
df = df.astype({
    "Stkcd": str, "Name": str, "EstablishDate": str, "Year": int,
    "GI1": int, "GI2": int, "Gov1": float, "Gov2": float,
    "Gend": float, "Aage": float, "Aterm": float, "Atech": float, "Aoversea": float, "Aacademic": float,
    "Size": float, "ROA": float, "ROE": float, "Growth": float,
    "TQA": float, "TQB": float, "TQC": float, "TQD": float,
    "Soe": int, "Age": int, "Cr": float, "Indep": float,
    "Input": float, "Rdsale": float
})

In [50]:
df

,Stkcd,Name,EstablishDate,Year,GI1,GI2,Gov1,Gov2,Gend,Aage,...,TQA,TQB,TQC,TQD,Soe,Age,Cr,Indep,Input,Rdsale
0,000008,神州高铁,1989-10-11,2015,0,0,17.547308,NaN,0.166667,46.166667,...,2.887373,4.538368,8.097392,12.727466,0,26,28.2176,0.428571,0.026131,0.072422
1,000008,神州高铁,1989-10-11,2016,0,0,18.224550,17.547308,0.142857,47.428571,...,2.299946,3.658426,3.442202,5.475363,1,27,12.4596,0.428571,0.016694,0.072903
2,000008,神州高铁,1989-10-11,2017,0,0,18.269107,18.224550,0.166667,47.000000,...,2.166560,3.329549,2.636338,4.051499,1,28,12.4187,0.428571,0.019248,0.088179
3,000008,神州高铁,1989-10-11,2018,0,0,18.323906,18.269107,0.142857,46.571429,...,1.308414,2.063514,1.339989,2.113313,1,29,20.0000,0.333333,0.023218,0.094744
4,000016,深康佳A,1980-10-01,2013,3,8,19.316437,19.119300,0.100000,45.400000,...,0.975934,0.999002,0.979778,1.002936,1,33,19.0000,0.428571,0.014609,0.011496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9618,603998,方盛制药,2000-06-15,2014,0,0,15.601692,NaN,0.250000,44.000000,...,1.808544,1.990405,4.233726,4.659454,0,14,36.6935,0.333333,0.021377,0.047753
9619,603998,方盛制药,2000-06-15,2015,0,0,15.200223,15.601692,0.000000,41.000000,...,4.739523,5.291410,6.907012,7.711288,0,15,36.6935,0.333333,0.024693,0.056214
9620,603998,方盛制药,2000-06-15,2016,0,0,15.347608,15.200223,0.000000,42.000000,...,4.252455,5.185029,6.231999,7.598691,0,16,36.3088,0.375000,0.020514,0.048804
9621,603998,方盛制药,2000-06-15,2017,0,0,12.899220,15.347608,0.000000,43.000000,...,3.719860,4.554187,3.756575,4.599137,0,17,36.4136,0.428571,0.021794,0.041514
9622,603998,方盛制药,2000-06-15,2018,0,0,16.223660,12.899220,0.000000,43.500000,...,1.536670,1.837209,1.540918,1.842288,0,18,36.5453,0.428571,0.025780,0.040290

## Part 4: Output

In [51]:
df.to_excel("202010110015.xlsx", index=False)